31) Write a program to find the second largest number in a list.

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
largest=second=a[0]

for i in a:
  if i>largest:
    second=largest
    largest=i
  elif i>second and i!=largest:
    second=i
print(second)

8

32) Write a program to remove duplicates from a list without using set ( ).

In [ ]:
a=[1,1,2,2,3,3,4,4,5,5,6,6,7]
unique=[]
for i in a:
  if i not in unique:
    unique.append(i)
print(unique)

[1, 2, 3, 4, 5, 6, 7]

33.Write a program to sort a list without using built-in methods like sort () or sorted ().

In [ ]:
a=[12,13,11,4,2,6,19,34]
count=0
for i in a:
  count+=1

for i in range(0,count-1+1,1):
  for j in range(0,count-2+1,1):
    if a[j]>a[j+1]:
      c=a[j]
      a[j]=a[j+1]
      a[j+1]=c
print(a)

[2, 4, 6, 11, 12, 13, 19, 34]

34.Write a program to find the maximum and minimum elements in a list without using max () or min().

In [2]:
a=[1,2,31,4,5,26,7,8,9]
max=a[0]
min=a[0]
for i in a:
  if i>max:
    max=i
  elif i<min:
    min=i
print(max)
print(min)

31
1

35.Hallow patterns

In [4]:
n=5
for i in range(1,n+1,1):
  for j in range(1,n+1,1):
    if (i==1 or j==5) or(j==1 or i==5):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*       *
*       *
*       *
* * * * *

In [15]:
n=5
for i in range(1,n+1,1):
  for j in range(1,n+1,1):
    if j==1 or i==j or i==5:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*
* *
*   *
*     *
* * * * *

In [16]:
n=5
for i in range(1,n+1,1):
  for j in range(1,n-i+1,1):
    print(" ",end="")
  for k in range(1,n+1,1):
    if k==1 or i==k or i==5:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

    *
   * *
  *   *
 *     *
* * * * *

In [50]:
n=5
for i in range(1,n+1,1):
  for j in range(1,i-1+1,1):
    print(" ",end="")
  for k in range(1,n+1,1):
    if i==1 or k==1 or i+k==n+1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
 *     *
  *   *
   * *
    *

In [68]:
n=5
for i in range(1,n+1,1):
  for b in range(1,n-i+1,1):
    print(" ",end=" ")
  for j in range(1,n+1,1):
    if j==1 or i==j or i==5:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

        *
      * *
    *   *
  *     *
* * * * *