36) Write a program to find the sum of all elements in a list without using the built-in sum () function.

In [2]:
a=[1,2,3,4,5,6,7,8]
sum=0
for i in a:
  sum+=i
print(f"sum: {sum}")

sum: 36

37) Write a program to count the number of even and odd numbers in a given list.

In [1]:
a=[22,11,28,90,45,44,22,28]
count=0
count1=0
for i in a:
  if i%2==0:
    count+=1
  else:
    count1+=1

print(f"Even Number Count: {count}")
print(f"Odd Number Count: {count1}")

Even Number Count: 6
Odd Number Count: 2

38) Write a program to find all elements that appear more than once in a list.

In [3]:
a=[1,1,2,3,3,4,5,6,6,7,8]
store=[]
print("Elements that appear more than once: ")
for i in a:
  if i not in store:
    store.append(i)
  elif i in store:
    print(i,end=" ")

Elements that appear more than once:
1 3 6

39.Write a program to merge two lists and remove any duplicates from the merged list.

In [ ]:
a=[23,12,23,1,15,16,15,12]
b=[9,82,34,23,1,12,15]
c=[]
d=[]
e=[]
for i in a:
  if i not in c:
    c.append(i)
for j in b:
  if j not in d:
    d.append(j)
new_list=c+d
print(f"Merged List: {new_list}")
for k in new_list:
  if k not in e:
    e.append(k)
print(f"Merged unique List: {e}")

Merged List: [23, 12, 1, 15, 16, 9, 82, 34, 23, 1, 12, 15]
Merged unique List: [23, 12, 1, 15, 16, 9, 82, 34]

40.Fusion Patterns

In [ ]:
n=5
for i in range(1,n+1,1):
  for j in range(1,i+1,1):
    print("*",end="")
  for j in range(1,n-i+1,1):
    print(" ",end="")
  for j in range(1,i+1,1):
    print(j,end="")
  print()

*    1
**   12
***  123
**** 1234
*****12345

In [ ]:
n=5
for i in range(1,n+1,1):
  for j in range(1,i+1,1):
    print(j,end="")
  for k in range(1,n-i+1,1):
    print("*",end="")
  print()

1****
12***
123**
1234*
12345

In [ ]:
n=5
for i in range(1,n+1,1):
  for j in range(1,i+1,1):
    print("*",end="")
  for j in range(1,n-i+1,1):
    print(" ",end=" ")
  for k in range(1,i+1,1):
    print("*",end="")
  print()

*        *
**      **
***    ***
****  ****
**********

In [ ]:
n=5
for i in range(1,n+1,1):
  for j in range(1,i+1,1):
    print("*",end="")
  for j in range(1,n-i+1,1):
    print(" ",end=" ")
  for k in range(1,i+1,1):
    print("*",end="")
  print()

*        *
**      **
***    ***
****  ****
**********

In [ ]:
n=5

for i in range(1,n+1,1):
  a=1
  for j in range(1,n-i+1+1,1):
    print("*",end="")
  for k in range(1,i-1+1,1):
    print(" ",end="")
  for j in range(1,n-i+1+1,1):
    print(a,end="")
    a+=1
  print()

*****12345
**** 1234
***  123
**   12
*    1