<a href="https://colab.research.google.com/github/kush2727/20-Day-Python-Programming-Prep-Series-/blob/main/Day10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

46.Write a program to check whether a list is a palindrome (same forward and backward) without using slicing.

In [1]:
a = [1, 1, 1, 2, 1, 1, 1]
b = []
i = 0
j = len(a) - 1
match = True

while i < j:
    if a[i] != a[j]:
        match = False
        break
    i += 1
    j -= 1

if match == True:
    print("Palindrome")
else:
    print("Not a Palindrome")

Palindrome

 47.	Write a program to remove all occurrences of a given element from a list without using remove().

In [2]:
a = [1, 2, 3, 4, 4, 5]
print("Original list:", a)
num = int(input("Enter a number to remove: "))
result = []
for i in a:
    if i != num:
        result.append(i)

print("Updated list:", result)

Original list: [1, 2, 3, 4, 4, 5]
Enter a number to remove: 4
Updated list: [1, 2, 3, 5]

48.	Write a program to print the list in pairs, e.g. [1,2,3,4,5,6] â†’ (1,2) (3,4) (5,6).

In [3]:
a = [1, 2, 3, 4, 5, 6]
pair = []
store = []
count = 0
for i in a:
    count += 1
    store.append(i)
    if count == 2:
        pair.append(tuple(store))
        store = []
        count = 0
for i in pair:
    print(i,end=" ")

(1, 2) (3, 4) (5, 6)

	49.	Write a Program to print third largest number from a list.

In [4]:
a=[10,20,13,2,1]
largest=second=third=a[0]

for i in a:
    if i>largest:
        third=second
        second=largest
        largest=i

    elif i>second and i!=largest:
        third=second
        second=i

    elif i>third and i!=second and i!=largest:
        third=i

print(third)

10

48.Fusion Patterns

In [5]:
n = 5
for i in range(1,n+1):
  for j in range(1,i+1):
    print('*',end='')
  for k in range(1,n-i+1):
    print(' ',end='')
  for l in range(1,n-i+1):
    print(' ',end='')
  for m in range(1,i+1):
    print('*',end='')
  print()
n = 5
for i in range(1,n+1):
  for j in range(1,n-i+1+1):
    print('*',end='')
  for k in range(1,i):
    print(' ',end='')
  for l in range(1,i):
    print(' ',end='')
  for l in range(1,n-i+1+1):
    print('*',end='')
  print()

*        *
**      **
***    ***
****  ****
**********
**********
****  ****
***    ***
**      **
*        *

In [6]:
n=5
for i in range(1,n+1,1):
    for j in range(1,n-i+1,1):
        print(" ",end="")
    for j in range(1,i+1,1):
        print("*",end=" ")
    print()
n=4
for i in range(1,n+1,1):
    for j in range(1,i+1-1+1,1):
        print(" ",end="")
    for j in range(1,n-i+1+1,1):
        print("*",end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [7]:
for i in range(1,5+1,1):
    n=9-(i-1)
    for j in range(1,i-1+1,1):
        print(" ",end="")
    for j in range(1,n-i+1+1,1):
        print("*",end="")
    print()
for i in range(1,4+1,1):
    n=2+i+(i-1)
    a=4
    for j in range(1,a-i+1,1):
        print(" ",end="")
    for j in range(1,n+1,1):
        print("*",end="")
    print()

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [8]:
n=5
for i in range(1,n+1,1):
    for j in range(1,i+1,1):
        print("*",end=" ")
    print()
n=5
for i in range(1,n+1,1):
    for j in range(1,n-i+1+1,1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [9]:
n = 5
for i in range(1,n+1,1):
  a = 65
  for j in range(1,n-i+1,1):
    print(" ",end='')
  for k in range(1,i+1):
    print(chr(a),end=' ')
    a += 1
  print()
n = 5
for i in range(2,n+1):
  a = 65
  for j in range(1,i-1+1,1):
    print(" ",end="")
  for k in range(1,n-i+1+1):
    print(chr(a),end=" ")
    a += 1
  print()

    A
   A B
  A B C
 A B C D
A B C D E
 A B C D
  A B C
   A B
    A